
<div class="container mx-auto flex flex-col items-center justify-center px-16 py-8">
    <h2 class="text-3xl font-bold text-center mb-8">Password Generator</h2>
  
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full max-w-md">
      <div class="flex flex-col gap-2 my-3">
        <span class="text-base text-gray-700">Character Types:</span>
        <div class="grid grid-cols-2 gap-2">
          <label for="uppercase" class="flex items-center">
            <input type="checkbox" id="uppercase" class="mr-2 w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" formControlName="uppercase">
            <span class="text-sm text-gray-700">Uppercase</span>
          </label>
          <label for="lowercase" class="flex items-center">
            <input type="checkbox" id="lowercase" class="mr-2 w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" formControlName="lowercase">
            <span class="text-sm text-gray-700">Lowercase</span>
          </label>
          <label for="numbers" class="flex items-center">
            <input type="checkbox" id="numbers" class="mr-2 w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" formControlName="numbers">
            <span class="text-sm text-gray-700">Numbers</span>
          </label>
          <label for="symbols" class="flex items-center">
            <input type="checkbox" id="symbols" class="mr-2 w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" formControlName="symbols">
            <span class="text-sm text-gray-700">Symbols</span>
          </label>
        </div>
      </div>
  
      <div class="flex flex-col itemscenter my-3">
        <div class=" items-center flex">
            <label for="length" class="text-base text-gray-700 mr-2">Length:</label>
            <input type="number" id="length" class="bg-gray-50 border w-full border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5" formControlName="length" required>
        </div>
        <div *ngIf="form.get('length')?.errors as errors" class="text-red-600">
            <span *ngIf="errors['required']">Password Length is required</span>
            <span *ngIf="errors['min']">Minimum Length is {{ errors['min'].min }} </span>
            <span *ngIf="errors['max']"> Maximum Length is {{ errors['max'].max }}</span>
        </div>
      </div>
  
      <div class="flex items-center relative w-full">
        <input type="text" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" formControlName="password" [readonly]="readonly">
  
        <button type="button" class="absolute right-2 top-2 bg-white hover:bg-gray-200 border border-gray-300 text-gray-500 px-2 rounded-md focus:ring-blue-500" onclick="navigator.clipboard.writeText(document.getElementById('password').value)">Copy</button>
      </div>
  
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Generate Password</button>
    </form>
  </div>